// Include partials
@import "./resets";
@import "./variables";

// Functions
@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

// Mixin
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

// Mixin with @if statement
@mixin theme($light-theme: true) {
  @if $light-theme {
    background: lighten($primary-color, 100%);
    color: darken($text-color, 100%);
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

body {
  background: $primary-color;
  color: $text-color;
}

// Nesting
.main {
  @include flexCenter(row);
  width: 80% - 20%;
  margin: 0 auto;

  // same as .main_paragraph
  #{&}_paragraph1 {
    font-weight: weight(bold);

    &:hover {
      color: pink;
    }
  }

  // Extensions
  #{&}_paragraph2 {
    @extend .main_paragraph1;

    &:hover {
      color: $accent-color;
    }
  }

  @include mobile {
    flex-direction: column;
  }
}

// boolean value for light-theme mixin
.light {
  @include theme($light-theme: true);
}
